<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MSSMS.Properties.Settings>
            <setting name="MySQLUsername" serializeAs="String">
                <value>JafferjeeBrothers</value>
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="MySQLHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySQLDatabase" serializeAs="String">
                <value>mssmsdb</value>
            </setting>
            <setting name="MySQLPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="EMAILUsername" serializeAs="String">
                <value>jafferjeebrothersteadivision@gmail.com</value>
            </setting>
            <setting name="EMAILPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="DefaultAdmin" serializeAs="String">
                <value>E2000001</value>
            </setting>
            <setting name="DefaultPhoneRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEmailRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTimeFormat" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DefaultPhoneRegion" serializeAs="String">
                <value>WW</value>
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTPSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPDeliveryMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTokenExpTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DefaultMySQLUsername" serializeAs="String">
                <value>JafferjeeBrothers</value>
            </setting>
            <setting name="DefaultMySQLPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="DefaultMySQLHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DefaultMySQLPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MSSMMasterPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="DefaultMSSMMasterPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="DefaultSMTPHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="DefaultSMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="DefaultSMTPSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TokenExpTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CurrentTimeFormat" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DefaultTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="CurrentPhoneRegion" serializeAs="String">
                <value>LK</value>
            </setting>
            <setting name="CurrentEmailRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPhoneRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEMAILPassword" serializeAs="String">
                <value>MSSM@JBDB</value>
            </setting>
            <setting name="DefaultEMAILUsername" serializeAs="String">
                <value>jafferjeebrothersteadivision@gmail.com</value>
            </setting>
            <setting name="DefaultMySQLDatabase" serializeAs="String">
                <value>mssmsdb</value>
            </setting>
            <setting name="MySQLPasswordSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="EMAILPasswordSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="EmpMINAge" serializeAs="String">
                <value>16</value>
            </setting>
        </MSSMS.Properties.Settings>
    </userSettings>
</configuration>